<div class="navbar" ></div>
    
    <br><p class="menu"><b>Quiz</b></p>

    <div class="center display_buttons display_on">
        <button class="btn btn-success start">Start</button>
        <button class="btn btn-success history">Historia</button>
    <br>
        <div id="history_score"></div><br>
    </div>
    
    <div class="container display_quiz display_off">
        <h4 class="question">Question</h4><br> 
            <button type="button" class="list-group-item list-group-item-action">Cras justo odio</button>
            <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
            <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
            <button type="button" class="list-group-item list-group-item-action">>Porta ac consectetur ac</button>
        <br>
    
        <button class="btn btn-success next">Dalej</button>
        <button class="btn btn-danger back">Wstecz</button>
        <div class="score"></div>
        <button class="btn btn-primary new_game display_off">Wróć do menu</button><br>
    </div>
<script src="js/script_quiz.js"></script>
<script src="js/navbar.js" type="text/javascript"></script>