<div class="navbar" ></div>

<div class="paragraph">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.7719358334984!2d20.98812161608763!3d50.01562972648025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473d8354fe68ac69%3A0xb016235c60a68f9e!2sPa%C5%84stwowa+Wy%C5%BCsza+Szko%C5%82a+Zawodowa!5e0!3m2!1spl!2spl!4v1540223197386" width="800" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

<p><i>Państwowa Wyższa Szkoła Zawodowa w Tarnowie<br>ul. Mickiewicza 8<br>33-100 Tarnów</i></p>

<br>
<div>   
    <p style="font-size:20px"><b>*** Dni i godziny przyjmowania petentów:</b></p>
        <ul class="list">
            <li>Poniedziałek: 9:00 - 15:00 </li>
            <li>Wtorek: 9:00 - 15:00</li>
            <li>Środa: 9:00 - 15:00</li>
            <li>Czwartek: 9:00 - 15:00</li>
            <li>Piątek: 9:00 - 15:00</li>
            <li>Sobota: 10:00 - 12:00</li>
            <li>Niedziela: nieczynne</li>
        </ul>
</div>

</div>

<button class="myButton" title="Wróć do góry">Do Góry</button>

<script src="js/script_button.js" type="text/javascript"></script>
<script src="js/navbar.js" type="text/javascript"></script>