<nav>
  <div id="header" class="container-fluid">
    <ul class="header_list">
      <div class="row">
        <div class="col-3">
          <li><a routerLink="/">Strona główna</a></li>
        </div>
        <div class="col-2">
          <li><a routerLink="/contact">Kontakt</a></li>
        </div>
        <div class="col-2">
          <li><a routerLink="/map">Mapa</a></li>
        </div>
        <div class="col-2">
          <li><a routerLink="/quiz">Quiz</a></li>
        </div>
        <div class="col-2">
          <li><a routerLink="/blog">Blog</a></li>
        </div>
      </div>
    </ul>
  </div>
</nav>
